.config/nvim/spell/*.spl
.config/kitty
.config/fish/fish_variables
.config/fish/completions/*
!.config/fish/completions/.keep
.config/atuin/atuin-receipt.json
.config/btop/btop.conf
.config/pgcli/log
.config/pgcli/history
