[init]
  defaultBranch = main

[core]
  excludesfile = ~/.cvsignore
  attributesfile = ~/.gitattributes
  pager = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations catppuccin-mocha

[delta "catppuccin-mocha"]
  blame-palette = "#1e1e2e #181825 #11111b #313244 #45475a"
  commit-decoration-style = "box ul"
  dark = true
  file-decoration-style = "#cdd6f4"
  file-style = "#cdd6f4"
  hunk-header-decoration-style = "box ul"
  hunk-header-file-style = "bold"
  hunk-header-line-number-style = "bold #a6adc8"
  hunk-header-style = "file line-number syntax"
  line-numbers = true
  line-numbers-left-style = "#6c7086"
  line-numbers-minus-style = "bold #f38ba8"
  line-numbers-plus-style = "bold #a6e3a1"
  line-numbers-right-style = "#6c7086"
  line-numbers-zero-style = "#6c7086"
  minus-emph-style = "bold syntax #734b60"
  minus-style = "syntax #4a3447"
  plus-emph-style = "bold syntax #546e5c"
  plus-style = "syntax #394545"
  syntax-theme = "Catppuccin-mocha"

[delta "interactive"]
  keep-plus-minus-markers = false

[user]
  name = Rainer Borene
  email = rainerborene@gmail.com

[grep]
  extendedRegexp = true
  lineNumber = true

[push]
  default = current

[pull]
  rebase = true

[color]
  ui = auto

[merge]
  summary = true
  prompt = false
  tool = diffconflicts

[mergetool]
  keepBackup = false
  keepTemporaries = false

[mergetool "fugitive"]
  cmd = "nvim -f -c 'Gvdiff' $MERGED"

[mergetool "diffconflicts"]
  cmd = nvim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
  trustExitCode = true

[alias]
  a                 = add
  s                 = status
  p                 = push
  d                 = diff
  ba                = branch -a
  dc                = diff --cached
  co                = checkout
  ci                = commit
  uns               = reset HEAD
  unstage           = reset HEAD
  l                 = log -16 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(blue bold)(by %an)%Creset'
  ll                = log --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(blue bold)(by %an)%Creset'
  gl                = log -10 --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(blue bold)(by %an)%Creset%C(yellow bold)%d%Creset%n'
  gll               = log --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(blue bold)(by %an)%Creset%C(yellow bold)%d%Creset%n'
  changed           = git diff-tree --no-commit-id --name-only -r
  work              = !sh -c 'git fetch && git checkout @{upstream} -tb \"$@\"'
