.config/htop
.config/configstore
.config/nvim/tmp
.config/nvim/spell/*.spl
.config/nvim/plugged/*
.config/nvim/autoload/plug.vim
!.config/nvim/plugged/.keep
.config/nvim/.init.vim-rplugin~
.bundle/cache
bin/ngrok
