[user]
	name = Rainer Borene
	email = rainerborene@gmail.com

[core]
	excludesfile = ~/.dotfiles/.gitignore
	editor = vim

[color]
	ui = auto

[merge]
	tool = splice

[mergetool "splice"]
	cmd = "mvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true

[alias]
	d       = diff
	di      = diff --cached
	co      = checkout
	ci      = commit
	uns     = reset HEAD
	unstage = reset HEAD
	po      = push origin
	lo      = pull origin
	st      = status
	stat    = status
	l       = log -16 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
	ll      = log --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
	gl      = log -10 --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(by %an)%Creset%C(yellow bold)%d%Creset%n'
	gll     = log --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(by %an)%Creset%C(yellow bold)%d%Creset%n'

[push]
	default = current

[web]
	browser = open

[github]
	user = rainerborene

[url "git://github.com/"]
	insteadOf = gh:

[url "git@github.com:"]
	insteadOf = wgh:

[url "git@heroku.com:"]
	insteadOf = heroku:

[pull]
	rebase = true
