snippet ba "before_action"
before_action :${1:action}
endsnippet

snippet testm "test file skeleton"
require "test_helper"

class ${1}Test < ActiveSupport::TestCase
  $0
end
endsnippet

snippet pry
binding.pry
endsnippet
